*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
}

h1{
    text-align: center;
    color: #91cf52;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 46px;
}

#game,
#results{
    width: 35rem;
    margin: 1rem auto;
    padding: .5rem;
    background-color: #91cf52;
    border-radius: 8px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;    
    margin: .5rem 2rem;
    border-radius: 8px;
    background-color: #c1e49d;
}

.colors-input{
    display: flex;
    justify-content: space-around;
}

.keyboard{
    display: flex;
    flex-direction: column;
}

button{
    text-align: center;
    background-color: rgb(255, 254, 234);
    border: none;
    border-radius: 4px;
    padding: .5rem 3rem;
    margin: 1rem auto;
    max-width: 7rem;
}

#errors,
#score{
    text-align: center;
    color: white;
}

#errors > *,
#score,
#results{
    display: none;
}

.color{
    height: 3rem;
    width: 3rem;
    border-radius: 8px;
    background-color: rgb(139, 197, 250);
}

.color.selected{
    border: 2px solid white;
}

.color.red{
    background-color: red;
}

.color.pink{
    background-color: pink;
}

.color.purple{
    background-color: purple;
}

.color.yellow{
    background-color: rgb(255, 230, 0);
}

.color.green{
    background-color: green;
}

.color.blue{
    background-color: blue;
}

.color.orange{
    background-color: rgb(255, 136, 0);
}